<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History User</title>
  </head>
  <body>
    <h1><center>History</center></h1>
    <hr />
    <a href="/">HOME</a>
    <table>
      <thead>
        <th>rank</th>
        <th>win</th>
      </thead>
      <tbody>
        <% data.forEach(function (d) { %>
        <tr>
          <td><%= d.rank %></td>
          <td><%= d.win %></td>
          <td></td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </body>
</html>
