<%- include('./template/head'); %>
  
    <div class="row row-cols-1 ml-1 header-info">
      <div class="col header-info-col">
        <h1 class="header-title-info text-center">Traditional: The Game</h1>
        <h3 class="mini-info text-center">Feel the new way of traditional game!</h3>
        <a href="/game-bgk" class="btn btn-warning btn-lg header-info-button">
        Play Now!
        </a>
      </div>
      <div class="col align-self-end story-scroll-down">
        <a href="#gallery" class="header-scroll-link-wrapper+">
          <p class="header-scroll-toggle">
            THE STORY
          </p>
          <i class="bi bi-caret-down story-scroll-down-img"></i>
        </a>
      </div>
      
 <%- include('./template/header'); %>

 <section class="gallery container" id="gallery">
    <div class="row ml-5 gallery-content">
      <div class="col-5  gl-left-side">
        <h3 class="gallery-mini-info">
          What makes it special?
        </h3>
        <h1 class="gl-h1-info">
          Discover the revolutioner game!
        </h1>
      </div>

      <div class="col-7  gl-right-side">
        <div id="Indicatordot" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="0" class="active rounded-circle"
              aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="1" aria-label="Slide 2"
              class="rounded-circle"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="2" aria-label="Slide 3"
              class="rounded-circle"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="3" aria-label="Slide 4"
              class="rounded-circle"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 1">
            </div>
            <div class="carousel-item " data-bs-interval="10000">
              <img src="/img/rockpaperstrategy1.jpg" class="d-block w-100" alt="slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="/img/rockpaperstrategy2.jpg" class="d-block w-100" alt="slide 3">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="/img/rockpaperstrategy3.jpg" class="d-block w-100" alt="slide 4">
            </div>
          </div>
          <button class="carousel-control-prev icon-costum-left" type="button" data-bs-target="#Indicatordot"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next icon-costum-right" type="button" data-bs-target="#Indicatordot"
            data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>

  </section>
  
  
  <section class="features ">
    <div class="container">
      <div class="row justify-content-end features-contents">
        <div class="col-4 features-info mb-2">
          <h3 class="features-info-title">
            What's so special?
          </h3>
          <h1 class="features-info-content">
            FEATURES
          </h1>
        </div>
      </div>
      <div class="row justify-content-end features-timeline">
        <div class="col-5 features-timeline-content">
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="/img/Ellipse.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                Traditional: The Game
              </h2>
              <p class="tl-info-content">
                We can bring your own childhood memories here!
              </p>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="/img/Ellipse-transparent.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                GAME SUIT
              </h2>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="/img/Ellipse-transparent.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                TBD
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="sysreq">
    <div class="container">
      <div class="req-info-top">
        <h5>Can I Run it??</h5>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="rq-table-title">System Requirements (Minimum)</h1>

          
          <table class="table table-bordered table-content-sys">
            <tbody>
              <tr>
                <td>
                  <h2 class="requirements-info">OS:</h2>
                  <p class="requirements-info-content">
                    Windows 10 (64-bit versions only)<br>
                  </p>
                </td>
                <td>
                  <h2 class="requirements-info">CPU</h2>
                  <p class="requirements-info-content">
                    Ryzen 3 1200 - 3.1 Ghz / Core i5-4460 - 3.2 Ghz</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2 class="requirements-info">RAM:</h2>
                  <p class="requirements-info-content">8 GB</p>
                </td>
                <td>
                  <h2 class="requirements-info">Free Disk Space</h2>
                  <p class="requirements-info-content">70 GB</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h2 class="requirements-info">Video Card:</h2>
                  <p class="requirements-info-content">
                    AMD Vega 64 - 8GB  or<br> GeForce GTX 1080- 8GB
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        

        </div>
      </div>
    </div>
  </section>
  

  <section class="score" id="score">
    <div class="container row">
      <div class="col-lg-5 col-md-7 offset-md-2 mt-5 offset-sm-1 align-center score-left-side ">
        <h1>Top Scores</h1>
        <h2>This top score from various games provided on this platform</h2>
        <a href="#" class="btn btn-warning">see more</a>
      </div>

      
      <div class="col">
        <div class="row">
          <div class="col-lg-4 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-2 " id="card-1">
              <div class="card-header row">
                <img src="/img/evan.png" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Evan Lahti">
                <div class="col-6">
                  <h3>Evan Lahti</h3>
                  <h4>PC Gamer</h4>
                </div>
                <img src="/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "Absolutely my game of the year!."
                </h5>
                <p class="card-text">September 02, 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-3 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-2 " id="card-2">
              <div class="card-header row">
                <img src="/img/jada.png" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Jada Griffin">
                <div class="col-6">
                  <h3>Jada Griffin</h3>
                  <h4>Nerdreactor</h4>
                </div>
                <img src="/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "I'm sure this game will beat Elden Ring in The Game Award."
                </h5>
                <p class="card-text">September 03, 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-5 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-1 " id="card-3">
              <div class="card-header row">
                <img src="/img/aaron.png" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Aaron Williams">
                <div class="col-6">
                  <h3>Aaron Williams</h3>
                  <h4>Uproxx</h4>
                </div>
                <img src="/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "Free fire can't compare to this masterpiece!!"
                </h5>
                <p class="card-text">September 06, 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl">
          <figure>
            <img src="/img/skull.webp" alt="skull" id="skull">
          </figure>
        </div>
        <div class="col-xl">
          <div class="footer-content-right ">
            <h3>Want to stay in touch?</h3>
            <h1>Newsletter Subscribe</h1>
            <p>
              In case to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of you. We
              will send you emails containing information about game. We don't
              spam.
            </p>
          </div>
          <div class="footer-content-left">
            <form class="form row">
              <div class="form-group col-md-7">
                <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email"
                  placeholder="Leonel_Messi@yahoo.com">
              </div>
              <div class="col-md-5 text-left mt-4">
                <button class="btn btn-warning mb-3 w-100">
                  Subscribe Now!
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>


  <div class="navigation text-center" id="navigation">
    <div class="container">
      <div class="row">
        <div class="col-8 my-2 nav-item">
          <a href="#"><span>Main</span></a>
          <a href="#"><span>About</span></a>
          <a href="#"><span>Game Features</span></a>
          <a href="#"><span>System Requirements</span></a>
          <a href="#"><span>Quotes</span></a>
        </div>
        
      <div class="row content-justify-end footer">
        <div class="col-lg-4">
          <div class="d-inline">
            <p>© 2022 Pandu Blizzard, inc. All Rights Reserved</p>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2 mb-2">
          <div class="d-inline">
            <a href="#"><span>Privacy Policy </span></a>|
            <a href="#"><span>Terms of Services </span></a>|
            <a href="#"><span>Code of Conduct</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Bootsrap JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
    integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>
</body>

</html>
