<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<body>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">
          Sign Up to The International 2023-DOTA 2!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form action="/" method="post">
            <div class="form-group">
              <input
                type="text"
                name="Full name"
                class="form-control my-input"
                id="Full name"
                placeholder="Full name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="username"
                class="form-control my-input"
                id="username"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control my-input"
                id="email"
                placeholder="E-mail"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                min="5"
                name="password"
                id="password"
                class="form-control my-input"
                placeholder="password"
              />
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit" role="button">
                Sign Up
              </button>
            </div>
            <p class="small mt-3">
              By signing up, you are indicating that you have read and agree to
              the
              <a href="#" class="ps-hero__content__link">Terms of Use</a> and
              <a href="#">Privacy Policy</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
