<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>usergame</title>
  </head>
  <body>
    <h1><center>usergame</center></h1>
    <hr />
    <a href="/">Home</a>
    <a href="./history">history</a>
    <table>
      <thead>
        <th>email</th>
        <th>username</th>
        <th>password</th>
      </thead>
      <tbody>
        <% data.forEach(function (d) { %>
        <tr>
          <td><%= d.email %></td>
          <td><%= d.username %></td>
          <td><%= d.password %></td>
          <td></td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </body>
</html>
